

<suite name="TestNG Session JayAutomation Suite">

	<test name="TestNG Combo Googele Test Suite">
	
		<classes>
			<class name="com.test.ExecptionTimeOutTest" />
			<class name="com.test.GoogleTest" />
			<class name="com.test.GoogleTitleTest" />
			<class name="com.test.InvocationCountTest" />
			<class name="com.test.TestNgBasics" />
			<class name="com.test.TestNgFeatures" />
			
		</classes>
		
	</test>
	
</suite>